@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@400;700&display=swap');
:root {
  --color-black: #0b050f;
  --color-black-med: #2d143d;
  --color-black-light: #685f74;
  --color-black-lightest: #bababa;
  --color-yellow: #fcb045;
  --color-purple: #4f1091;
  --color-pink: #ff0066;
  --color-pink-med: #FF85B6;
  --color-pink-light: #FFC2Da;
  --color-pink-lightest: #FFD6E7;
  --paw-width: 32%;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  
}

html {
  font-family: 'Montserrat', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-purple);
  background: linear-gradient(180deg, var(--color-purple) 0%, var(--color-yellow) 15%);
  background-repeat: repeat;
  min-height: 200vh;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* HEADER index.html, not react component  */
header {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
}

h1 {
  color: #fff;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 1.75rem;
  text-align: center;
  margin: 0;
}

/* header's tic tac toe board with paw images  */
.main-header_gameboard_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  padding-top: 0.5rem;
}


/* PLAYER COMPONENT  */
.player-item {
  margin: 0.25rem 0;
  display: flex;
  justify-content: center;
}

.player-item input {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  height: 100%;
}

.player-item button {
  background-color: var(--color-purple);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  font-weight: 700;
  height: 50px;
  margin-left: 5px;
  padding: 0;
  width: 50px;

}

.player.active-player-black {
border: 2px solid var(--color-black);
}

.player.active-player-pink {
border: 2px solid var(--color-pink);
}

.player {
  display: flex;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  background: #fff;
  font-weight: 700;
  padding: 0.25rem;
  align-items: center;
  width: 240px;
}

.player .player-name,
input {
  flex: 1;
  color: #3d3d3d;
}


.main-header_gameboard_cell {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

/* credit for paw print: https://pixabay.com/illustrations/paw-pattern-wallpaper-squares-5992572/  */

.main-header_gameboard_cell img {
  width: auto; /* Changed from 100% */
  height: 50px;
  object-fit: cover;
}

.main-header_gameboard_cell:nth-child(1) img {
  position: absolute;
  left: -5px;
  top: -2px;
}

.main-header_gameboard_cell:nth-child(2) img {
  position: absolute;
  left: -33px;
  top: -2px;
}

.main-header_gameboard_cell:nth-child(3) img {
  position: absolute;
  left: -66px;
  top: -2px;
}

.main-header_gameboard_row:nth-child(1) .main-header_gameboard_cell {
  border-top: none;
}

.main-header_gameboard_row:nth-child(3) .main-header_gameboard_cell {
  border-bottom: none;
}

.main-header_gameboard_row .main-header_gameboard_cell:nth-child(1) {
  border-left: none;
}
.main-header_gameboard_row .main-header_gameboard_cell:nth-child(3) {
  border-right: none;
}


.players-list {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.toe-bean {
  display: inline-block;
  width: 25px;
  height: 35px;
  margin: 0 0.5rem;
  border-radius: 50%;
}

.leg-container.black .bean, .leg-container.black .bottom-pad,
.toe-bean.black {
  background: #685f74;
  background: radial-gradient(
    circle farthest-side at 50% 25%,
    var(--color-black-light) 0%,
    var(--color-black-med) 43%,
    var(--color-black) 100%
  );
}

.leg-container.pink .bean, .leg-container.pink .bottom-pad,
.toe-bean.pink {
  background: #f5c8ef;
  background: radial-gradient(
    circle farthest-side at 50% 25%,
    var(--color-pink-light) 0%,
    var(--color-pink-med) 43%,
    var(--color-pink) 100%
  );
}

/* GRID AND GAME  */

.grid-container {
  background-color: #fff;
  border-radius: 5px;
  width: fit-content;
  margin: 1rem auto;
  padding: 1rem;
}
.grid-container .game-btn {
  border-radius: 5px;
  margin: 0.25rem;
}

.game-btn, .leg-container {
  height: 96px;
  width: 96px;
}

.grid-container .game-btn:hover {
  cursor: pointer;
}

.game-row .row-columns {
  display: flex;
}



.leg-container {
  border-radius: 5px;
  margin: 0.25rem;
  position: relative;
}


.leg-container.black {
  background-color: var(--color-black);
}
.leg-container.black .leg {
  background-color: var(--color-black-lightest);
}

.leg-container.pink {
  background-color: var(--color-pink);
}
.leg-container.pink .leg{
  background-color: var(--color-pink-lightest);
}

/* KATY KATY YOU ARE HERE  */

.leg-container .leg {
  position: absolute;
  width: var(--paw-width);
  height: 70%;
  bottom: 0;
  left: calc((100% - var(--paw-width)) / 2); 
}

/* helper divs for the middle toes  */
.paw-middle {
  position: absolute;
  background:#fff;
  border-radius: 50%;
  width: 50%;
  height: 25%;
  top:-20%;
}
.paw-middle.left {
  left: 15%;
}
.paw-middle.right {
  left: 38%;
}

.paw {
  position:absolute;
  width: 100%;
  height: 50%;
  background: #fff;
  border-radius: 41% 39% 50% 50% / 34% 34% 50% 51% ;
  top: -15%;
}

.bean, .bottom-pad {
  position: absolute;
}

.bean {
  width: 20%;
  height: 30%;
  border-radius: 36%;
}

.left-bean {
  left: 6%;
  top: 19%;
}
.inner-left-bean {
  left: 27%;
    top: -2%;
}
.inner-right-bean {
  left: 54%;
  top: -2%;
}
.right-bean {
  left: 76%;
  top: 19%;
}
.bottom-pad {
  height: 25%;
    width: 50%;
    left: 25%;
    top: 43%;
    border-radius: 37%
}

/* LOG COMPONENT  */
.log {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}
.log p {
  margin: 0;
  margin-bottom: 8px;
}

/* RESET BUTTON  */
.reset-btn{
background-color: var(--color-purple);
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  header {
    justify-content: flex-start;
    padding: 1rem;
    gap: 2rem;
  }

  .game-btn, .leg-container {
    height: 120px;
    width: 120px;
  }

  .player {
    width: 330px;
  }

  .log {
    width: 70%;
}

}
@media screen and (min-width: 1100px) {
  header {
    justify-content: center;
  }

.game-btn, .leg-container {
    height: 150px;
    width: 150px;
  }

  .players-list {
    flex-direction: row;
    gap: 1rem;
  }

  .log {
    width: 50%;
    font-size: 1.25rem;
  }

}

