@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;

  color: #ebe7ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #833ab4;
  background: linear-gradient(180deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
  background-repeat: repeat;
  background-size: 100% 100%, 30% 30%, 100% 100%;
  min-height: 110rem;
}

/* HEADER index.html, not react component  */

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* header's tic tac toe board with paw images  */
.main-header_gameboard_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header_gameboard_cell {
  width: 40px;
  height: 40px;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

/* credit for paw print: https://pixabay.com/illustrations/paw-pattern-wallpaper-squares-5992572/  */

.main-header_gameboard_cell img {
  width: auto; /* Changed from 100% */
  height: 90px;
  object-fit: cover;
}

.main-header_gameboard_cell:nth-child(1) img {
  position: absolute;
  left: -5px;
  top: -2px;
}

.main-header_gameboard_cell:nth-child(2) img {
  position: absolute;
  left: -58px;
  top: -2px;
}

.main-header_gameboard_cell:nth-child(3) img {
  position: absolute;
  left: -117px;
  top: -2px;
}

.main-header_gameboard_row:nth-child(1) .main-header_gameboard_cell {
  border-top: none;
}

.main-header_gameboard_row:nth-child(3) .main-header_gameboard_cell {
  border-bottom: none;
}

.main-header_gameboard_row .main-header_gameboard_cell:nth-child(1) {
  border-left: none;
}
.main-header_gameboard_row .main-header_gameboard_cell:nth-child(3) {
  border-right: none;
}

.main-game-container {
  background: #fd7f28;
}

.players-list {
  background: #fdeba5;
  padding: 1rem 2rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}

/* PLAYER COMPONENT  */

.player-item {
  margin: 0 1rem;
  flex: 1;
  display: flex;
}

.player.active-player-black {
border: 2px solid #0b050f;
}

.player.active-player-pink {
border: 2px solid #ea4c89;
}

.player {
  display: flex;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  background: #fff;
  font-weight: 700;
  padding: 0.25rem;
  align-items: center;
  width: 20rem;
}

.player .player-name,
input {
  flex: 1;
  color: #3d3d3d;
}

.toe-bean {
  display: inline-block;
  width: 25px;
  height: 35px;
  border-radius: 50%;
  margin: 0 0.5rem;
}

.toe-bean.black {
  background: #685f74;
  background: radial-gradient(
    circle farthest-side at 35% 25%,
    #685f74 0%,
    #2d143d 43%,
    #0b050f 100%
  );
}

.toe-bean.pink {
  background: #f5c8ef;
  background: radial-gradient(
    circle farthest-side at 35% 25%,
    #f5c8ef 0%,
    #ee66aa 43%,
    #ea4c89 100%
  );
}

/* GRID AND GAME  */

.grid-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.grid-container .game-btn {
  border-radius: 5px;
  margin: 0.25rem;
    height: 140px;
  width: 140px;
}

.grid-container .game-btn:hover {
  cursor: pointer;
}

.game-row .row-columns {
  display: flex;
}

/* PAW COMPONENT  */ 

.paw {
  border-radius: 5px;
  margin: 0.25rem;
  height: 140px;
  width: 140px;
}

.paw.black {
  background-color: black;
}

.paw.pink {
  background-color: pink;
}